---
import '../styles/global.css';

import { Header } from '../components/Header.tsx';
import { Home } from '../components/Home.tsx';
// Import dei componenti piu importanti della pagina
import { ConsISO } from '../components/iso/ConsISO.tsx';
import { Security } from '../components/security/Sicurezza.tsx';
import { Assignments } from '../components/assignment/Assignments.tsx';
import { Training } from '../components/Training.tsx';
import { NewsSection } from '../components/news/News.tsx';
import { ContactNew } from '../components/contact/ContactNew.tsx';
import { Stats } from '../components/Stats.tsx';
import BaseLayout from '../layout/BaseLayout.astro';
---

<html lang="it">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Studio Venturiero</title> </head>
  <body>

  <BaseLayout>
    <Home client:load />
    <ConsISO client:load />
    <Security client:load />
    <Assignments client:load />
    <Training client:load />
    <NewsSection client:load />
    <ContactNew client:load />

    <Stats client:load />

  </BaseLayout>

  </body>
</html>