---
import { NavBar } from '../components/NavBar.tsx';
import { FooterMinimal } from '../components/FooterMinimal.tsx';
import { ScrollSpy } from '../components/utils/ScrollSpy.tsx'; 
import CookieConsent from '../components/cookie/CookieConsent.astro';

interface Props {
  activeSectionID?: string;
}
  
const { activeSectionID } = Astro.props;
// if(activeSectionID){
//   activeSection.set(activeSectionID);
// }
console.log('NavBar activeSectionID:', activeSectionID);
---

<html lang="it">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Nardoz</title>
    <!-- 
      GOOGLE ANALYTICS INTEGRATION
    <script 
      type="text/plain" 
      data-category="analytics" 
      src={`https://www.googletagmanager.com/gtag/js?id=G-XXXXXXXXXX`}>
    </script>
    <script 
      type="text/plain" 
      data-category="analytics">
      
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-XXXXXXXXXX');
    </script>
     -->

  </head>
  <body>
    <div class="bg-background text-foreground">
      
      <NavBar currentPage={activeSectionID} client:load /> 

      <main class="pt-16">
        <slot />
      </main>
      
      
    </div>

    {/* Carica ScrollSpy solo sulla homepage */}
    {Astro.url.pathname === import.meta.env.BASE_URL && <ScrollSpy client:load />}


    <CookieConsent />

    <FooterMinimal client:load />
    
  </body>
  
</html>